<h1>Hello World from Angmerica!</h1>
<p>I am learning to start my own webpage. And I want to do it in AngularJS.</p>

<div>To Do:
  <ol>
    <li>DONE: Learn how to get a web Page</li>
    <li>DONE: Learn how to do CI</li>
    <li>DONE: Angularify this site</li>
      <ul>
        <li>DONE: Fix the module.js test bug</li>
        <li>DONE: Place styles inside of assets folder</li>
      </ul>
    <li>DONE:Update site with Resume</li>
    <li>In Progress: Create angular seed</li>
    <li>In Progress: Create angular scaffolder</li>
      <ul>
        <li>Update the build grunt file</li>
        <li>Fill see with default content</li>
      </ul>
    <li>Create angular tutorial</li>
    <li>Make Site Responsive</li>
    <li>Create angular tutorial</li>
    <li>Sign up for google analytics</li>
    <li>Learn Chef/Vagrant</li>
    <li>Create angular playbook</li>
    <li>Create a whole MEAN stack app</li>
    <li>Show off my work</li>
  </ol>
</div>
